@model RentHive.Models.UserDataGetter
@{
    ViewData["Title"] = "Report Details";
}
<div class="home-index">
    @* <div class="side-nav">
        <div class="user">
            @* <a href="@Url.Action("Profile", "UserManagement",new { TempuserId = Model.Acc_id})"> *@
            <img src="~/images/logo2.png" class="user-img" />
            @* </a> *@
            @* <div class="user-name">
            <h2>@Model.Acc_DisplayName</h2>
            <p>@Model.Acc_UserType</p>
            </div> *@
        </div>

        <ul class="menu-list">
            <li class="menu-item">
                <img class="menu-icon" src="~/images/dashboard.png" /><a class="menu-text" onclick="location.href='@Url.Action("Index", "Home", new {Acc_id = @ViewBag.AdminID})'">Home</a>
            </li>
            <li class="menu-item">
                <img class="menu-icon" src="~/images/group.png" /><a class="menu-text" onclick="location.href='@Url.Action("HiveUserList", "SystemManagement")">
                    @* new {Acc_id = ViewBag.Acc_id,Acc_FirstName = ViewBag.Acc_FirstName, Acc_MiddleName = ViewBag.Acc_MiddleName, Acc_LastName = ViewBag.Acc_LastName
                    , Acc_DisplayName = ViewBag.Acc_DisplayName, Acc_UserType = ViewBag.Acc_UserType})'"> *@User List
                </a>
            </li>
        </ul> *@

        <ul class="menu-list">
            <li class="menu-item"><img class="menu-icon" src="~/images/logout.png" /><a href="#popup" class="menu-text">Logout</a></li>
        </ul>
    </div>
    <button class="close-button" onclick="goBack()"><img class="close-icon" src="~/images/close.png"></button>

    <div class="hive-title-holder">
        <h1>Report Information</h1>
    </div>

    <div class="details-border-holder">
        <div class="details-holder">
            <div class="acc-details-content">
                <div class="col1">
                    <p>Report ID : </p>
                    <p>Topic : </p>
                    <p>Message : </p>
                </div>
                <div class="col2">
                    <p>Date Reported</p>
                </div>
                <hr /> 
            </div>
            @* <div>
                <center>
                    @if (!string.IsNullOrEmpty(Model.Images))
                    {
                        <img src="@($"data:image/jpeg;base64,{Model.Images}")"/>
                    }
                    else
                    {
                        <img src="~/images/no-image-available.png" class="base64size" />
                    }
                </center>
            </div> *@
        </div>
    </div>
</div>